#layer2 {
  width: 800px;
  height: 640px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: red;
}

#layer1 {
  width: 800px;
  height: 640px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}